Repository ynghan/gifticon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-be, build-bank, build-fe-web

build-be:
  stage: build
  script:
  - echo "ğŸ”§ BE ì„œë¹„ìŠ¤ ë¹Œë“œ ì¤‘..."

build-bank:
  stage: build
  script:
  - echo "ğŸ¦ BANK ì„œë¹„ìŠ¤ ë¹Œë“œ ì¤‘..."

build-fe-web:
  stage: build
  script:
  - echo "ğŸ¦ FE-web ì„œë¹„ìŠ¤ ë¹Œë“œ ì¤‘..."

✨🖌️[Feat][Art] GiftForm, GiftBox api 연결 전 로직 동작 확인
  FE/mobile/App.tsx
  FE/mobile/android/gradlew
  FE/mobile/src/shared/utils/CheckPermission.ts
  FE/web/package-lock.json
  FE/web/package.json
  FE/web/public/NFCLogo.svg
  FE/web/src/app/(BarLayout)/gift/get/[id]/page.tsx
  FE/web/src/app/(BarLayout)/gift/get/page.tsx
  FE/web/src/app/(NoLayout)/gift/create/page.tsx
  FE/web/src/app/(NoLayout)/layout.tsx
  FE/web/src/app/(NoLayout)/login/page.tsx
  FE/web/src/app/(NoLayout)/pay/completed/page.tsx
  FE/web/src/app/(NoLayout)/pay/password/page.tsx
  FE/web/src/app/api/auth/[...nextauth]/route.ts
  FE/web/src/app/layout.tsx
  FE/web/src/components/ui/card.tsx
  FE/web/src/components/ui/carousel.tsx
  FE/web/src/entity/gift/api/useFetchNFC.ts
  FE/web/src/entity/store/model/stores.ts
  FE/web/src/features/giftForm/ui/ContactList.tsx
  FE/web/src/features/giftForm/ui/CustomMenuImageSelector.tsx
  FE/web/src/features/giftForm/ui/FavoriteMarketList.tsx
  FE/web/src/features/giftForm/ui/GiftForm.tsx
  FE/web/src/features/giftForm/ui/SearchBar.tsx
  FE/web/src/features/gitfBox/ui/GivenGiftDetail.tsx
  FE/web/src/features/gitfBox/ui/GivenGiftItem.tsx
  FE/web/src/features/gitfBox/ui/GivenGiftList.tsx
  FE/web/src/features/gitfBox/ui/SentGiftItem.tsx
  FE/web/src/features/gitfBox/ui/SentGiftList.tsx
  FE/web/src/features/kakaoLogin/ui/Login.tsx
  FE/web/src/shared/modal/Modal.tsx
  FE/web/src/shared/msw/mock/data/gift.ts
  FE/web/src/shared/msw/mock/data/store.ts
  FE/web/types/next-auth.d.ts
Due: build-fe-web

✨ [Feat] 계정 생성 시 계좌 생성 로직 구현
  .idea/workspace.xml
  BANK/src/main/java/com/example/ssafy_bank/bank/controller/BankController.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_request/CreateAccountRequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_response/CreateAccountResponseDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
  BANK/src/main/java/com/example/ssafy_bank/common/response/ResponseCode.java
Due: none

🔥[Hotfix] Cors오류 수정 중
  BE/src/main/java/com/example/ddo_pay/common/config/security/CustomAuthenticationFilter.java
  BE/src/main/java/com/example/ddo_pay/common/config/security/SecurityConfig.java
Due: none

🔥[Hotfix] Preflight 관련 Option 메소드 설정
  BE/src/main/java/com/example/ddo_pay/common/config/security/CustomAuthenticationFilter.java
  BE/src/main/java/com/example/ddo_pay/common/config/security/SecurityConfig.java
Due: none

Feat : 이메일 로그인 api 생성
  .idea/workspace.xml
  BANK/src/main/java/com/example/ssafy_bank/bank/controller/BankController.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_request/Deposit1000RequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/response/LoginResponseDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/BankService.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
  BANK/src/main/java/com/example/ssafy_bank/common/response/ResponseCode.java
Due: none

:bug: [Fix] S3 관련 코드 삭제 jira : S12P21E106-306
  BE/build.gradle
  BE/src/main/java/com/example/ddo_pay/common/config/S3/FileUploadController.java
  BE/src/main/java/com/example/ddo_pay/common/config/S3/S3Config.java
Due: build-be

✨[Feat] FE측 카카오 로그인 요청(to. 카카오 auth 서버) 확인 완료 / BE API 연동 테스트 필요
  FE/web/src/features/kakaoLogin/api/useFetchLogin.ts
  FE/web/src/features/kakaoLogin/ui/KakaoCallback.tsx
  FE/web/src/features/kakaoLogin/ui/Login.tsx
Due: none

:sparkles: [Feat] nginx 설정 파일 작성
  nginx-proxy/Dockerfile
  nginx-proxy/docker-compose.yml
  nginx-proxy/nginx.conf
Due: none

Feat : 계좌 내역 조회 api 생성
  BANK/src/main/java/com/example/ssafy_bank/bank/controller/BankController.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_request/SelectHistoryRequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_response/SelectHistoryResponseDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/request/TransactionSummaryDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/request/UserIdRequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/response/BalanceResponseDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/BankService.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
  BANK/src/main/java/com/example/ssafy_bank/common/response/ResponseCode.java
Due: none

Feat : 계좌 잔액 조회 api 생성
  BANK/src/main/java/com/example/ssafy_bank/bank/controller/BankController.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_request/SelectBalanceRequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_response/SelectBalanceResponseDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/response/BalanceResponseDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/BankService.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
  BANK/src/main/java/com/example/ssafy_bank/common/response/ResponseCode.java
Due: none

🔥[Hotfix] 헤더 소문자 변경
  BE/src/main/java/com/example/ddo_pay/common/config/security/CustomAuthenticationFilter.java
  BE/src/main/java/com/example/ddo_pay/common/config/security/SecurityConfig.java
Due: none

✨[Feat] 마이페이지 작성 및 카카오 로그인 Redirect 폴더구조
  FE/web/src/app/(BarLayout)/me/info/page.tsx
  FE/web/src/app/(NoLayout)/callback/page.tsx
  FE/web/src/app/(NoLayout)/moneyCharge/page.tsx
  FE/web/src/app/(NoLayout)/pay/completed/page.tsx
  FE/web/src/app/(NoLayout)/pay/password/page.tsx
  FE/web/src/entity/store/model/payment.ts
  FE/web/src/features/giftForm/ui/GiftForm.tsx
  FE/web/src/features/kakaoLogin/api/useFetchLogin.ts
  FE/web/src/features/kakaoLogin/ui/KakaoCallback.tsx
  FE/web/src/features/kakaoLogin/ui/Login.tsx
  FE/web/src/features/myMoneyCheck/ui/api/useFetchMyMoney.ts
  FE/web/src/features/myMoneyCheck/ui/mouneyView.tsx
  FE/web/src/features/paymentCheck/api/usePaymentList.ts
  FE/web/src/features/paymentCheck/ui/PaymentBox.tsx
  FE/web/src/features/paymentCheck/ui/PaymentIntersection.tsx
  FE/web/src/features/paymentCheck/ui/PaymentList.tsx
  FE/web/src/shared/api/axiosInstance.ts
Due: none

Chore : createUserKey 로그 작성
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
Due: none

Chore : 에러코드 작성
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
  BANK/src/main/java/com/example/ssafy_bank/common/exception/SuccessfulAccountCreationException.java
Due: none

Chore : 계좌 생성 코드 수정
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
Due: none

:recycle: [Refactor] Jenkinsfile 수정 : S12P21E105-170
  BE/Jenkinsfile
Due: build-be

:sparkles: [Feat] 또페이 충전 api 생성 jira : S12P21E106-207
  .idea/workspace.xml
  BANK/src/main/java/com/example/ssafy_bank/bank/controller/BankController.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/ddopay_request/ChargeDdoPayRequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/ddopay_response/BankChargeResponseDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_request/DdoPayDepositRequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/repository/BankRepository.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/BankService.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
  BANK/src/main/java/com/example/ssafy_bank/common/response/ResponseCode.java
  BE/build.gradle
  BE/src/main/java/com/example/ddo_pay/DdoPayApplication.java
  BE/src/main/java/com/example/ddo_pay/client/BankClient.java
  BE/src/main/java/com/example/ddo_pay/common/response/ResponseCode.java
  BE/src/main/java/com/example/ddo_pay/pay/controller/PayController.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/bank_request/BankDdoPayChargeRequest.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/bank_response/BankChargeResponseDto.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/request/BalanceChargeRequest.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/request/ChargeDdoPayRequest.java
  BE/src/main/java/com/example/ddo_pay/pay/entity/DdoPay.java
  BE/src/main/java/com/example/ddo_pay/pay/entity/History.java
  BE/src/main/java/com/example/ddo_pay/pay/service/PayService.java
  BE/src/main/java/com/example/ddo_pay/pay/service/impl/PayServiceImpl.java
Due: build-be

🐛 [Fix] 크롤링 graphQL로 변경 jira : S12P21E106-307
  BE/src/main/java/com/example/ddo_pay/restaurant/service/crawling/NaverCrawlingServiceImpl.java
Due: none

✨ [Feat] 소셜로그인 완료 jira : S12P21E106-305
  BE/build.gradle
  BE/src/main/java/com/example/ddo_pay/common/config/security/CustomAuthenticationFilter.java
  BE/src/main/java/com/example/ddo_pay/common/config/security/SecurityConfig.java
  BE/src/main/java/com/example/ddo_pay/common/util/JwtUtil.java
  BE/src/main/java/com/example/ddo_pay/user/controller/AuthController.java
  BE/src/main/java/com/example/ddo_pay/user/dto/request/SocialLoginRequestDto.java
  BE/src/main/java/com/example/ddo_pay/user/dto/response/KakaoTokenResponse.java
  BE/src/main/java/com/example/ddo_pay/user/dto/response/KakaoUserResponse.java
  BE/src/main/java/com/example/ddo_pay/user/dto/response/SocialLoginResponseDto.java
  BE/src/main/java/com/example/ddo_pay/user/entity/User.java
  BE/src/main/java/com/example/ddo_pay/user/repo/UserRepo.java
  BE/src/main/java/com/example/ddo_pay/user/service/KakaoAuthService.java
  BE/src/main/java/com/example/ddo_pay/user/service/impl/UserRepository.java
  FE/web/src/features/kakaoLogin/api/useFetchLogin.ts
Due: build-be

Chore : bank serviceImpl 수정
  BANK/src/main/java/com/example/ssafy_bank/bank/controller/BankController.java
  BANK/src/main/java/com/example/ssafy_bank/bank/dto/finance_request/SelectBalanceRequestDto.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/BankService.java
  BANK/src/main/java/com/example/ssafy_bank/bank/service/impl/BankServiceImpl.java
  BANK/src/main/java/com/example/ssafy_bank/common/exception/SuccessfulAccountCreationException.java
  BE/src/main/java/com/example/ddo_pay/pay/controller/PayController.java
Due: none

🔥[Hotfix] Cors 해결?
  BE/src/main/java/com/example/ddo_pay/common/config/security/CustomAuthenticationFilter.java
  BE/src/main/java/com/example/ddo_pay/common/config/security/SecurityConfig.java
Due: none

✨[Feat] 카카오 로그인 구현(토큰 상태 관리 필요)
  FE/web/src/features/kakaoLogin/api/useFetchLogin.ts
  FE/web/src/features/myMoneyCheck/ui/api/useFetchMyMoney.ts
  FE/web/src/features/myMoneyCheck/ui/mouneyView.tsx
  FE/web/src/store/auth.ts
Due: none

Feat : pos 응답 반환 확인
  BE/src/main/java/com/example/ddo_pay/gift/dto/select/GiftCheckRequestDto.java
  BE/src/main/java/com/example/ddo_pay/pay/controller/PayController.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/bank_request/PosRequest.java
Due: none

Feat : 포스 결제 service단 세팅
  BE/src/main/java/com/example/ddo_pay/pay/service/PayService.java
  BE/src/main/java/com/example/ddo_pay/pay/service/impl/PayServiceImpl.java
Due: none

🐛 [Fix] 받는 방식 수정, 메뉴 ID 반환 jira : S12P21E106-144
  BE/src/main/java/com/example/ddo_pay/restaurant/controller/RestaurantController.java
  BE/src/main/java/com/example/ddo_pay/restaurant/dto/response/MenuResponseDto.java
  BE/src/main/java/com/example/ddo_pay/restaurant/service/impl/RestaurantServiceImpl.java
Due: none

✨ [Feat] 기프티콘 사용 여부 판단 시 토큰 반환 jira : S12P21E106-316
  BE/src/main/java/com/example/ddo_pay/common/dto/TokenData.java
  BE/src/main/java/com/example/ddo_pay/common/response/ResponseCode.java
  BE/src/main/java/com/example/ddo_pay/gift/controller/GiftController.java
  BE/src/main/java/com/example/ddo_pay/gift/dto/GiftCheckResponseDto.java
  BE/src/main/java/com/example/ddo_pay/gift/dto/select/GiftCheckRequestDto.java
  BE/src/main/java/com/example/ddo_pay/gift/service/GiftService.java
  BE/src/main/java/com/example/ddo_pay/gift/service/impl/GiftServiceImpl.java
  BE/src/main/java/com/example/ddo_pay/pay/controller/PayController.java
  BE/src/main/java/com/example/ddo_pay/pay/entity/DdoPay.java
  BE/src/main/java/com/example/ddo_pay/pay/service/PayService.java
  BE/src/main/java/com/example/ddo_pay/pay/service/impl/PayServiceImpl.java
Due: none

✨[Feat] 서버 API와 연동하여 맛집 생성 및 UI 수정 : S12P21E106-304
  FE/web/next.config.ts
  FE/web/src/app/(BarLayout)/me/stores/page.tsx
  FE/web/src/app/(NoLayout)/store/register/page.tsx
  FE/web/src/entity/gift/api/useFetchGift.ts
  FE/web/src/entity/store/api/useFetchCrawledStore.ts
  FE/web/src/entity/store/api/useFetchFavoriteStores.ts
  FE/web/src/entity/store/api/useSendRegisterStore.ts
  FE/web/src/features/favoriteStores/ui/FavoriteStores.tsx
  FE/web/src/features/map/ui/KakaoMap.tsx
  FE/web/src/features/map/ui/MyStores.tsx
  FE/web/src/features/map/ui/Places.tsx
  FE/web/src/shared/api/axiosInstance.ts
Due: build-fe-web

🐛 [Fix] 맛집 API 수정 jira : S12P21E106-323
  BE/src/main/java/com/example/ddo_pay/user/controller/AuthController.java
  BE/src/main/java/com/example/ddo_pay/user/dto/response/SocialLoginResponseDto.java
  BE/src/main/java/com/example/ddo_pay/user/service/KakaoAuthService.java
Due: none

Fe/#321/feat/zustand
  FE/web/package-lock.json
  FE/web/package.json
  FE/web/src/app/(BarLayout)/gift/get/[id]/page.tsx
  FE/web/src/app/(BarLayout)/me/info/page.tsx
  FE/web/src/app/(BarLayout)/me/info/setting/page.tsx
  FE/web/src/app/(NoLayout)/pay/completed/page.tsx
  FE/web/src/app/(NoLayout)/pay/password/page.tsx
  FE/web/src/app/api/auth/[...nextauth]/route.ts
  FE/web/src/app/layout.tsx
  FE/web/src/entity/store/model/menu.ts
  FE/web/src/features/giftForm/api/useFetchMenu.ts
  FE/web/src/features/giftForm/ui/FavoriteMarketList.tsx
  FE/web/src/features/giftForm/ui/GiftForm.tsx
  FE/web/src/features/kakaoLogin/api/useFetchLogin.ts
  FE/web/src/features/kakaoLogin/api/useFetchLogout.ts
  FE/web/src/features/kakaoLogin/index.ts
  FE/web/src/features/kakaoLogin/provider/NextAuthProvider.tsx
  FE/web/src/features/kakaoLogin/ui/KakaoCallback.tsx
  FE/web/src/features/myMoneyCheck/api/useFetchMyMoney.ts
  FE/web/src/features/myMoneyCheck/ui/api/useFetchMyMoney.ts
  FE/web/src/features/myMoneyCheck/ui/moneyView.tsx
  FE/web/src/features/paymentCheck/api/usePaymentList.ts
  FE/web/src/middleware.ts
  FE/web/src/shared/constants/url.ts
  FE/web/src/store/auth.ts
  FE/web/types/next-auth.d.ts
Due: build-fe-web

Feat : 또페이 결제내역 조회 api 생성
  BE/src/main/java/com/example/ddo_pay/common/response/ResponseCode.java
  BE/src/main/java/com/example/ddo_pay/pay/controller/PayController.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/request/SelectHistoryRequest.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/response/GetAccountResponse.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/response/GetHistoryListResponse.java
  BE/src/main/java/com/example/ddo_pay/pay/repository/HistoryRepository.java
  BE/src/main/java/com/example/ddo_pay/pay/service/PayService.java
  BE/src/main/java/com/example/ddo_pay/pay/service/impl/PayServiceImpl.java
Due: none

Chore : requestbody에서 params로 수정
  BE/src/main/java/com/example/ddo_pay/pay/controller/PayController.java
  BE/src/main/java/com/example/ddo_pay/pay/dto/response/GetHistoryListResponse.java
  BE/src/main/java/com/example/ddo_pay/pay/service/impl/PayServiceImpl.java
Due: none

✨[Feat] 실제 크롤링 데이터 기반으로 맛집 생성 : S12P21E106-325
  FE/web/src/app/(NoLayout)/store/register/page.tsx
  FE/web/src/entity/store/api/useFetchCrawledStore.ts
  FE/web/src/features/crawledStore/index.ts
  FE/web/src/features/crawledStore/ui/CrawledData.tsx
  FE/web/src/features/map/ui/Places.tsx
Due: none

[Fix] 크롤링 로직 수정 jira : S12P21E106-323
  BE/build.gradle
  BE/src/main/java/com/example/ddo_pay/common/config/S3/FileUploadController.java
  BE/src/main/java/com/example/ddo_pay/common/config/S3/S3Config.java
  BE/src/main/java/com/example/ddo_pay/common/config/S3/S3Service.java
  BE/src/main/java/com/example/ddo_pay/restaurant/controller/RestaurantController.java
  BE/src/main/java/com/example/ddo_pay/restaurant/service/RestaurantService.java
  BE/src/main/java/com/example/ddo_pay/restaurant/service/crawling/NaverCrawlingServiceImpl.java
  BE/src/main/java/com/example/ddo_pay/restaurant/service/impl/RestaurantServiceImpl.java
Due: build-be

✨[Feat] Pos기기 프로그램 작성 : S12P21E106-219
  POS/.gitignore
  POS/NfcReader.py
  POS/README.md
  POS/main_screen.py
  POS/order_data.py
  POS/payment_screen.py
  POS/pos_program.py
  POS/table_screen.py
Due: none

🗒️[Docs] Pos README.md 수정
  POS/README.md
Due: none

Path conditions:
  build-be: any of: BE/**
  build-bank: any of: BANK/**
  build-fe-web: any of: FE/web/**
